/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2018, 1:54:15 PM
    Author     : nham.tv8693
*/
@font-face{
    font-family: "HelveLight";
    src: url("../webfonts/SFUHelveticaLight.TTF");
}
.all-page{max-width: 1425px;margin: auto;}
body{font-family: "HelveLight";}
ul{padding: 0;list-style: none;}
.readmore{width: 100%;height: auto;float:left;text-align: center;margin-bottom: 15px;padding: 15px 0px;}
.readmore a{background: url('../images/icon-readmore.png') no-repeat;height: 42px;width: 92px;display: block;margin: auto;background-size: cover !important;}
.box-header{width: 100%;height:1470px;float:left;background:#efefec url('../images/landingpage-sam-to-nu/bg-header.jpg') no-repeat;background-size: 100%;padding-top: 100px;}
.box-header .container{max-width: 670px;height: 100%;position: relative}
.box-header p.logo{}
.box-header p.logo img{height: 150px;width: auto;margin: auto;display: block;}
.box-header .list-item{width: 100%;height: auto;float: left;}
.box-header .list-item h2{color: #c2922d;text-transform: uppercase;font-family: "HelveLight";font-size: 30px;padding-left: 18px;margin-bottom: 40px;}
.box-header .list-item ul{}
.box-header .list-item ul li{background: url('../images/landingpage-while-plus/bg-list-item.png') no-repeat;font-family: "HelveLight";padding-left: 20px;background-position: left center;color: #583e19;font-size: 20px;padding-bottom: 20px;}
.box-header .info-product{width: 100%;height: auto;position: absolute;left: 0;bottom: 0}
.box-header .info-product .price{text-align: center;color: #6f8552;font-size: 25px;display: block;padding-bottom: 15px;}
.box-ldg-1{width: 100%;height:auto;float:left;background: #efefec url('../images/landingpage-sam-to-nu/bg-footer-slider-feedback.jpg');background-repeat: repeat-x;background-position: bottom;background-size: auto;}
.box-ldg-1 .container{max-width: 780px;}
.box-ldg-1 .list-feedback{width: 100%;height: auto;float: left;position: relative;z-index: 1;padding-bottom: 40px;}
.box-ldg-1 .list-feedback img{border: solid 3px #c2922d;width: 100%;}
.box-ldg-2{width: 100%;height:auto;float:left;background: #FFF;padding: 50px 0;}
.box-ldg-2 .col-md-6{}
.box-ldg-2 .col-md-6 .img{width: 100%;height: auto;float: left;}
.box-ldg-2 .col-md-6 .img img{width: 100%;}
.box-ldg-2 .col-md-6 h2{font-family: "HelveLight";color: #c2922d;text-transform: uppercase;text-align: right;font-size: 35px;margin-bottom: 50px;}
.box-ldg-2 .col-md-6 h3{font-family: "HelveLight";color: #6f8552;text-transform: uppercase;text-align: right;margin-bottom: 10px;padding-top: 15px;}
.box-ldg-2 .col-md-6 h4{font-family: "HelveLight";color: #6f8552;text-transform: uppercase;text-align: right;padding-right: 20px;margin-bottom: 15px;}
.box-ldg-2 .col-md-6 .list-item{width: 100%;height: auto;float: left;padding-right: 80px;}
.box-ldg-2 .col-md-6 .list-item .item{font-family: "HelveLight";color: #583e19;width: 100%;height: auto;float: left;border-bottom: #92bd4a 1px dotted;padding: 15px 0px;font-size: 18px;}
.box-ldg-7{width: 100%;height:auto;float:left;background:url('../images/landingpage-while-plus/bg-box-8.png') no-repeat;padding: 50px 0 85px 0;position: relative;z-index: 1;background-size: 100% auto;top: -8px;}
.box-ldg-7 .container{max-width: 768px}
.box-ldg-7 h2{font-family: "HelveLight";text-transform: uppercase;text-align: right;color: #583e19;font-size: 35px;padding-right: 100px;}
.box-ldg-7 h3{font-family: "HelveLight";text-transform: uppercase;text-align: right;color: #fcff00;font-size: 30px;line-height: 40px;margin-bottom: 20px;padding-right: 100px;}
.box-ldg-7 .video{width: 550px;height:400px;margin: auto;}
.box-ldg-7 .video .thumb{width: 100%;height:100%;float:left;position: relative}
.box-ldg-7 .video .thumb img{width: 100%;height:100%;object-fit: cover;}
.box-ldg-7 .video .thumb .icon-play{background: url(../images/icon-play.png) no-repeat;width: 65px;height: 65px;background-size: 65px !important;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 2;}
.box-ldg-8{width: 100%;height: auto;float: left;background: #e9eae8;font-family: "HelveLight";padding: 100px 0;position: relative;top: -8px;}
.box-ldg-8 .container{max-width: 768px;}
.box-ldg-8:before{content:'';background: url('../images/landingpage-sam-to-nu/bg-top-customer.png') no-repeat;width: 380px;height: 800px;position: absolute;top: 0;right: 0;background-size: contain;}
.box-ldg-8:after{content: '';background: url('../images/landingpage-sam-to-nu/bg-bottom-customer.png') no-repeat;background-size: auto auto;width: 220px;height: 490px;position: absolute;bottom: 0;left: 0;background-size: contain;}
.box-ldg-8 h2{color: #6f8552;text-transform: uppercase;text-align: right;padding-right: 30%;margin-bottom: 15px;}
.box-ldg-8 h3{color: #6f8552;text-transform: uppercase;text-align: right;padding-right: 100px;padding-right: 30%;}
.box-ldg-8 h4{color: #c2922d;text-transform: uppercase;text-align: right;padding-right: 100px;padding-right: 30%;}
.box-ldg-8 .list-customer{width: 100%;height: auto;float: left;margin-top: 80px;}
.box-ldg-8 .list-customer .item{width: 100%;height: auto;float: left;margin-bottom: 30px;}
.box-ldg-8 .list-customer .item .thumb{width: 50%;height: auto;float: left;padding-right: 20px;}
.box-ldg-8 .list-customer .item .thumb img{width: 100%;height: auto;border: solid #FFF;}
.box-ldg-8 .list-customer .item .info{width: 50%;height: auto;float: left;padding-left: 20px;}
.box-ldg-8 .list-customer .item .info span{color: #c2922d;width: 100%;height: auto;float: left;text-transform: uppercase;font-weight: bold;font-size: 18px;}
.box-ldg-8 .list-customer .item .info small{color: #6f8552;font-size: 14px;padding: 10px 0;width: 100%;height: auto;float: left;}
.box-ldg-8 .list-customer .item .info p{color: #583e19;}
.box-ldg-8 .list-customer .item-left .thumb{}
.box-ldg-8 .list-customer .item-left .info{}
.box-ldg-8 .list-customer .item-right .thumb{float: right;padding-left: 20px;padding-right: 0;}
.box-ldg-8 .list-customer .item-right .info{padding-right: 20px;padding-left: 0;text-align: right;}
.box-ldg-8 .list-screen-feedback{width: 100%;height:auto;float:left;margin-top: 30px}
.box-ldg-8 .list-screen-feedback .row{margin-bottom: 20px}
.box-ldg-8 .list-screen-feedback img{width: 100%;height:auto}
.box-ldg-9{width:100%;height:auto;float:left;background:#fefefe url('../images/landingpage-sam-to-nu/bg-feedback-facebook.png') no-repeat;background-size: contain;position: relative;top: -8px;padding: 50px 0;}
.box-ldg-9 .container{max-width: 980px}
.box-ldg-9 img{width: 100%;height:auto;}
.box-ldg-9 .row{margin-bottom: 15px;}
footer{width: 100%;height:850px;float:left;background:url('../images/landingpage-sam-to-nu/bg-footer.jpg') no-repeat;background-size: 100% auto;position: relative;}
footer .container{height:100%;position: relative}
footer .buy{width: 300px;height: auto;position: absolute;left: 0;bottom: 30px;text-align: center;}
footer .buy .price{color: #547034;font-weight: bold;font-size: 20px;}
.thumb-mobile{display: none;}
@media(max-width:768px){
    .thumb-mobile{display: block;opacity: 0;}
    .thumb-mobile img{width: 100%;}
    .box-header{height:auto;padding-top: 0;}
    .box-header .container{max-width: 100%;padding: 0;}
    .box-header p.logo{position: absolute;top: 0;width: 100%;}
    .box-header .list-item{padding: 10px}
    .box-header .list-item h2{font-size: 20px;margin-bottom: 15px;}
    .box-header .list-item ul li{font-size: 17px;}
    .box-header .info-product{position: relative;float: left;top: -20px;}
    .box-ldg-2 .col-md-6 .list-item{padding-right: 0}
    .box-ldg-7{background-size: cover}
    .box-ldg-7 h2{padding-right: 0}
    .box-ldg-7 h3{padding-right: 0}
    .box-ldg-7 .video{width: 100%;height:auto;}
    .box-ldg-8::before{display: none}
    .box-ldg-8::after{display: none}
    .box-ldg-8 h2{padding-right: 0}
    .box-ldg-8 h3{padding-right: 0}
    .box-ldg-8 h4{padding-right: 0}
    .box-ldg-8 .list-customer{margin-top: 20px;}
    .box-ldg-8 .list-customer .item .info{padding-left: 0}
    .box-ldg-8 .list-customer .item .info p{width: calc(100% + 100%);height: auto;float: left;position: relative;left: -100%;top: 50px;}
    .box-ldg-8 .list-customer .item{margin-bottom: 60px}
    .box-ldg-8 .list-customer .item-right .info p{left: 0;text-align: left;}
    .box-ldg-8{padding-bottom: 30px}
    footer{height: auto}
    footer .container{padding: 0}
    footer .buy{text-align: left;padding-left: 10px}
    footer .buy .readmore{text-align: left;}
    footer .buy .readmore a{float:left;}
}