/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2018, 2:00:19 PM
    Author     : nham.tv8693
*/
@media (max-width:768px){
    header{height: 80px;position: relative;}
    header .logo{width: 100%;}
    header .logo img{max-height: 70px;margin: auto;display: block;}
    header::before{background-size: 23px !important;background-repeat: repeat-x;}
    .box-home-fulpage .text-link a{font-size: 16px;padding: 0 18px;font-weight: normal;}
    .box-product-home .banner-product img{height: auto;width: 100%;}
    .box-product-home .item-product{padding: 0;margin-top: 10px;}
    .box-product-home .item-product .thumb{width: 170px;}
    .box-product-home .item-product .product-info{width: calc(100% - 170px);padding-left: 20px;}
    .box-review{padding: 50px 75px;}
    header .menu{width: 100%;height: auto;position: absolute;top: 0;left: 0;z-index: 9999999;background: #69421C;top: 80px;padding: 0;display: none;}
    header .menu li{width: 100%;border-bottom: #623B15 solid 1px;padding: 10px 0;padding-left: 10px;}
    .show-menu-mobile{background: url('../images/menu.png') no-repeat;display: block;position: absolute;top: 25px;left: 15px;width: 50px;height: 30px;background-size: 31px;border: 0;cursor: pointer;}
.box-item-group .box-group .item-list{width: 100%}
.box-item-group .box-group .item-big{width: 100%}
.box-news-list .list-item .item-sm .content{width: 100%;padding-left: 0}
.box-news-list .list-item .item-sm .thumb{width: 100%;}
}
